manifest {
    name = "compareBams"
    author = "Benjamin Carlin"
    description = "test pipeline for comparing outuput Bams of the alignDNA pipline"
    version = "1.0"
}

params {
    input_csv = "path/to/input/csv/"
    output_dir = "where/to/save/outputs/"
}

process {
    cache = true
    executor = "slurm"
    queue = "slurm partition type"
}

docker {
    enabled = true
}
