manifest {
    name = "alignDNA"
    author = "Benjamin Carlin"
    description = "alignment pipeline for paired fastqs DNA samples"
    version = "1.0"
}

params {
    input_csv = "path/to/input/csv/"
    reference_fasta = "/path/to/fasta/"
    reference_fasta_dict = "/path/to/fasta/dict"
    reference_fasta_index_files = "/path/to/fasta/index/files"
    output_dir = "where/to/save/outputs/"
    temp_dir = "java/temp/file/dir/"
    save_intermediate_files = false
}

process {
    workDir = "/scratch/"
    echo = true
    cache = true
    executor = "local"
}

docker {
    enabled = true
}

env {
    NXF_WORK = "/scratch/"
    NXF_TEMP = "/scratch/"
    NXF_HOME = "/scratch/"
}

timeline {
    enabled = true
    file = "${params.output_dir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.output_dir}/trace.txt"
}

report {
    enabled = true
    file = "${params.output_dir}/report.html"
}