process {
    withName: validate_file {
        cpus = 1
        memory = 1.GB
        }
    withName: Generate_Sha512sum {
        cpus = 1
        memory = 1.GB
        }
    withName: Align_Fastq2Bam {
        cpus = 56
        }
    withName: PicardTools_SortSam {
        cpus = 1
        memory = 10.GB
        }
    withName: PicardTools_MarkDuplicates {
        cpus = 1
        memory = 10.GB
        }
    withName: PicardTools_BuildBamIndex {
        cpus = 1
        memory = 4.GB
        }
    }

