process {
    withName: validate_file {
        cpus = 1
        memory = 1.GB
        }
    withName: Generate_Sha512sum {
        cpus = 1
        memory = 316.GB
        }
    withName: Align_BWA_mem_convert_SAM_to_BAM_samtools {
        cpus = 1
        memory = 316.GB
        }
    withName: PicardTools_SortSam {
        cpus = 1
        memory = 316.GB
        }
    withName: PicardTools_MarkDuplicates {
        cpus = 1
        memory = 316.GB
        }
    withName: PicardTools_BuildBamIndex {
        cpus = 1
        memory = 316.GB
        }
    }
