includeConfig "${projectDir}/config/methods.config"

manifest {
    name = "generate-genome-index"
    author = "Chenghao Zhu"
    description = "Generate genome index for alignment"
    version = "6.1.0"
    }

methods.set_log_output_dir = {
    params.output_dir = new File(params.reference_fasta).getParentFile().toString()
    params.log_output_dir = "${params.output_dir}/log"
    }

methods.setup = {
    methods.set_log_output_dir()
    methods.set_env()
    methods.set_timeline()
    methods.set_trace()
    methods.set_report()
    methods.set_docker_sudo()
    }
