// Other processes after samtools_varfilter will only run one at a time, so
// we don't need to control their resources.
// The configuration below forces processes to run one at a time by needing
// the total memory available on a lowmem node.

process {
    withName: validate_file {
        cpus = 1
        memory = 1.GB
        }
    withName: Generate_Sha512sum {
        cpus = 1
        memory = 1.GB
        }
    withName: Align_BWA_mem_convert_SAM_to_BAM_samtools {
        cpus = 1
        memory = 3.GB
        }
    withName: PicardTools_SortSam {
        cpus = 1
        memory = 3.GB
        }
    withName: PicardTools_MarkDuplicates {
        cpus = 1
        memory = 3.GB
        }
    withName: PicardTools_BuildBamIndex {
        cpus = 1
        memory = 3.GB
        }
    }