params {
    docker_image_bwa_and_samtools = "blcdsdockerregistry/align-dna:bwa-mem2-2.1_samtools-1.10"
    docker_image_picardtools = "blcdsdockerregistry/align-dna:picardtools-2.23.3"
    docker_image_sha512sum = "blcdsdockerregistry/align-dna:sha512sum-1.0"
    docker_image_validate_params = "blcdsdockerregistry/validate:1.0.0"

    // sample inputs
    sample_name = "name_of_sample_with_no_spaces"
    input_csv = "path/to/input/csv/"
    reference_fasta = "/path/to/fasta/genome.fa"

    // This is only used when `params.blcds_registered_dataset_output` is set to true
    // TODO: should add a validation for genome versions
    reference_genome_version = "genome_version"

    // input/output locations
    output_dir = "where/to/save/outputs/"
    temp_dir = "/local/disk/for/temp/file/dir/"

    // options
    save_intermediate_files = false
    cache_intermediate_pipeline_steps = false

    // uncomment to manually set ncpus for bwa-mem2
    // bwa_mem_number_of_cpus = 60

    // set to true if the data input fastq files are registered in the Boutros Lab.
    blcds_registered_dataset_input = false
    // set to true to redirect output files directly to the Boutros Lab data storage.
    blcds_registered_dataset_output = false

    // uncooment the following in order to save output bam and log directly to blcds data storage
    // blcds_cluster_slurm = true
    // blcds_disease_id = "disease_id"
    // blcds_dataset_id = "dataset_id"
    // blcds_patient_id = "patient_id"
    // blcds_sample_id  = "sample_id"
    // blcds_analyte = "DNA"
    // blcds_technology = "WGS"
    // blcds_mount_dir = "/data"
}

// Set output diraction and filenames for bam and log files.
includeConfig "${projectDir}/config/methods.config"
methods.setup()
