final String SAMPLE = 'name_of_sample_with_no_spaces'
params {
    // sample inputs
    sample_name = SAMPLE
    input_csv = "path/to/input/${SAMPLE}.csv"
    reference_fasta = "/path/to/fasta/genome.fa"

    // The following must be explicitly entered if using HISAT2. If using more than one aligner, keep all index files together with the genome.
    // index_basename means you do not include the extension
    // (e.g: index files are labeled hisat2_index.1.ht2 thru hisat2_index.8.ht2 (8 files), so index_basename = hisat2_index)

    // hisat2_reference_fasta_index_files = "/path/to/fasta/hisat2/index/index_basename
 
    // select aligner/s in list format (Current Options: BWA-MEM2, HISAT2)
    aligner = ["BWA-MEM2"]

    // This is only used when `params.blcds_registered_dataset_output` is set to true
    // TODO: should add a validation for genome versions
    // reference_genome_version = "genome_version"

    // input/output locations
    output_dir = "where/to/save/outputs/${SAMPLE}"
    temp_dir = "/local/disk/for/temp/file/dir/"

    // options
    save_intermediate_files = false
    cache_intermediate_pipeline_steps = false

    // set to true if the data input fastq files are registered in the Boutros Lab.
    blcds_registered_dataset_input = false
    // set to true to redirect output files directly to the Boutros Lab data storage.
    blcds_registered_dataset_output = false

    // uncomment the following in order to save output bam and log directly to blcds data storage
    // blcds_cluster_slurm = true
    // blcds_disease_id = "disease_id"
    // blcds_dataset_id = "dataset_id"
    // blcds_patient_id = "patient_id"
    // blcds_sample_id  = "sample_id"
    // blcds_analyte = "DNA"
    // blcds_technology = "WGS"
    // blcds_mount_dir = "/data"
    }

// Set output diraction and filenames for bam and log files.
// DO NOT MODIFY
includeConfig "${projectDir}/config/methods.config"
methods.setup()
