params {
    paired_reads = "/Users/bcarlin/github/call-dna-align/data/*_{R1,R2}.fq.gz"
    reference_fasta = "/Users/bcarlin/github/call-dna-align/data/GRCh37.primary_assembly.genome.fa"
    reference_fasta_dict = "/Users/bcarlin/github/call-dna-align/data/GRCh37.primary_assembly.genome.dict"
    reference_fasta_index_files = "/Users/bcarlin/github/call-dna-align/data/GRCh37.primary_assembly.genome.fa.*"
    read_group_name = "@RG\tID:HN120-Blood-gDNA.Seq1\tCN:\tLB:HN120-Blood-gDNA_NoIndex\tPL:ILLUMINA\tPU:HN120-Blood-gDNA_NoIndex_L001\tSM:HN120-Blood-gDNA"
    output_dir = "/Users/bcarlin/github/call-dna-align/outputs/"
    save_aligned_bam = true
}

process {
    cahce = true
}

docker {
    enabled = true
}