params {
    paired_reads = "/path/to/fastqs/*_{R1,R2}.fq.gz"
    reference_fasta = "/path/to/fasta/"
    reference_fasta_dict = "/path/to/fasta/dict"
    reference_fasta_index_files = "/path/to/fasta/index/files"
    read_group_name = "path/to/read/group/nam"
    output_dir = "where/to/save/outputs/"
    save_aligned_bam = true
}

process {
    cahce = true
}

docker {
    enabled = true
}
