params {
    input_csv = "path/to/input/csv/
    reference_fasta = "/path/to/fasta/"
    reference_fasta_dict = "/path/to/fasta/dict"
    reference_fasta_index_files = "/path/to/fasta/index/files"
    output_dir = "where/to/save/outputs/"
    save_intermediate_files = false
}

process {
    cache = true
    executor = "slurm"
    queue = "slurm partition type"
}

docker {
    enabled = true
}
