process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
        }
    withName: generate_sha512sum {
        cpus = 1
        memory = 1.GB
        }
    withName: align_DNA_BWA_MEM2 {
        cpus = 56
        }
    withName: align_DNA_HISAT2 {
        cpus = 56
        }
    withName: run_sort_SAMtools {
        cpus = 12
        memory = 15.GB
        }
    withName: run_merge_SAMtools {
        cpus = 12
        memory = 2.GB
        }
    withName: run_MarkDuplicate_Picard {
        cpus = 1
        memory = 10.GB
        }
    withName: run_MarkDuplicatesSpark_GATK {
        cpus = 16
        memory = 35.GB
        }
    }
